{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> Votre panier </h1>


<!-- Condition  si cest panier vide ou pas-->
 {% if  items | length > 0 %}
  <table class="table">
        <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
         </thead>

        <tbody>

{% for paniers in panier %}
                  <td>{{ paniers.mallette.titre }} </td>
                  <td>{{ paniers.mallette.prix }} </td>
                  <td>{{ paniers.quantity }} </td>
                   <td>{{ paniers.mallette.prix * paniers.quantity }} </td>
                   <td>

                   <a href="{{ path('panier_remove',{'id': paniers.mallette.id} )}} " class="">
                    <i class="fas fa-trash"></i>
                   </td>
{% endfor %}        
        
        </tbody>
        <tfoot>
               <tr>
                  <td colspan="3" class="text">Total<td>
                  <td>{{ total }} </td>
                  <td></td>
             
             
               </tr>
             
        </tfoot> 

</table>


 {% else %}

    
          <h2>Surprise, c'est vide !</h2>

 {% endif %}




</div>
{% endblock %}