{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div id="form_connex">
        <h1>Connexion</h1>

        <form action="" method="">
            <div class="champs">
                <label for="">Saisissez votre adresse e-mail</label>
                <input type="email" placeholder="e-mail" name="" id="">
            </div>

            <div class="champs">
                <label for="">Saisissez votre mot de passe</label>
                <input type="password" placeholder="mot de passe" name="" id="">
            </div>

            <div id="bouton">
                <button type="submit">Se connecter</button>
            </div>

        </form>

        <div id="mdp_oubli">
            <a href="">Vous avez oublié votre mot de passe ?</a>
        </div>

        <hr>

        <div id="crea_compte">
            <span>Vous n'avez pas encore de compte ?</span>
            <a href="">Inscrivez-vous</a>
        </div>

    </div>

   {#
     <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

    </form>
    #}

{% endblock %}
