{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form">
        <h1>Connexion</h1>

        <form action="" method="post">
            <div class="champs">
                <label for="inputEmail">Saisissez votre adresse e-mail</label>
                <input type="email" placeholder="e-mail" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="champs">
                <label for="inputPassword">Saisissez votre mot de passe</label>
                <input type="password" placeholder="mot de passe" name="password" id="inputPassword" class="form-control" required>
            </div>
            
           <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="bouton">
                <button type="submit">Se connecter</button>
            </div>
           
           {% if app.user %}
           <div class="hidden">
           Vous voulez vous déconnecter {{ app.user.username }}<a href="{{ path('app_logout') }}">Déconnecter</a>
          </div>
         {% endif %}

        </form>

        <div id="mdp_oubli">
            <a href="{{ path('users_pass_modifier')}} ">Vous avez oublié votre mot de passe ?</a>
        </div>

        <hr>

        <div id="crea_compte">
            <span>Vous n'avez pas encore de compte ?</span>
            <a href="{{ path('registration')}} ">Inscrivez-vous</a>
        </div>

    </div>
   </form>


{% endblock %}
