{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/actualite.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
 

<div id="actualites">
    
    <h1>Les dernières actualités artistiques</h1>

    <div id="blocActu">
        
       {% for actualites in actualite %} 
            <div class="uneActu">

                <div class="articleActu">
                <!-- liens vers une actualite -->
                    <a href="{{ path('actualite_show', {id:actualites.id}) }} " target="_blank"><img class="image" src="{{actualites.image}}"></a>

                    <p>{{actualites.legende}} </p>

                    <div class="titreActu">
                        <h5>{{actualites.titre}}</h5>
                    </div>

                </div> 

                <div class="textActu">
                    <h2>{{actualites.contenu}}</h2>                   
                </div>
                
            </div>

        {% endfor %} 

    </div>

</div>



{% endblock %}
