{% extends 'base.html.twig' %}

{% block title %}Actualités artistiques{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/actualite.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1>Toutes les actualités artistiques</h1>

    <div id="blocActu">
        
       {% for actualites in actualite %} 

        <div class="uneActu">

            <div class="articleActu">
            <!-- liens vers une actualite -->
                <a href="{{ path('actualite_show', {id:actualites.id}) }} " target="_blank">
                    <img class="image" src="{{actualites.image}}">
                </a>

                <!-- <div class="textActu">
                    <p> {# {{actualites.contenu}} #} </p>                   
                </div> -->

                <div class="blocTexte">
                    <p>{{actualites.legende}} </p>
                </div>

                <div class="titreActu">
                    <a href="{{ path('actualite_show', {id:actualites.id}) }}" target="_blank">
                        <h5>{{actualites.titre}}</h5>
                    </a>
                </div>

            </div> 
   
        </div>

        {% endfor %} 

    </div>
    
{% endblock %}

