{% extends 'base.html.twig' %}

{% block title %}Une actualité{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/actualite.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

    <h1>{{actualite.titre}}</h1>

    <div id="containerActu">
        
        <div class="oeuvre">
            <img src="{{actualite.image}}">
        </div>

        <span>{{actualite.legende}}</span>

        <div class="descripActu">
            <p>{{actualite.contenu}}</p>                   
        </div>

    </div>

    <a class="retourActu" href="" role="button">Retour aux actualités</a>
 
{% endblock %}
                   