{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/actualite.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
  



<div id="actualites">
    
    <h1>Les dernières actualités artistiques</h1>

    <div id="blocActu">
        
       
            <div class="uneActu">

                <div class="articleActu">
                <!-- liens vers une actualite -->
                       <img class="image" src="{{actualite.image}}"></a>

                        <p>{{actualite.legende}} </p>

                    <div class="titreActu">
                        <h5>{{actualite.titre}}</h5>
                    </div>

                </div> 

                <div class="textActu">
                    <h2>{{actualite.contenu}}</h2>                   
                </div>
                
            </div>

    </div>

</div>


 
    
                <a class="btn btn-primary btn-lg" href="" role="button">Retour page acceuil</a>
              
       
   

 
{% endblock %}
                   