{% extends 'base.html.twig' %}

{% block title %}Une actualité{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/actualite.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

    <h1>{{actualite.titre}}</h1>

    <div id="containerActu">
        
        <div class="oeuvre">
            <img src="{{actualite.image}}" alt="Une image de l'actualité artistique évoquée">
        </div>

        <div class="legende">
            <span>{{actualite.legende}}</span>
        </div>

        <div class="descripActu">
            <p>{{actualite.contenu}}</p>                   
        </div>

    </div>

    <div id="retour">
        <a class="retourActu" href="{{ path('actualite') }}" role="button"><i class="fas fa-long-arrow-alt-left"></i>Retour aux actualités</a>
    </div>
 
{% endblock %}
                   