{% extends 'base.html.twig' %}

{% block title %}Actualites index{% endblock %}

{% block body %}
    <h1>Actualites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Legende</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.contenu }}</td>
                <td>{{ actualite.date ? actualite.date|date('Y-m-d') : '' }}</td>
                <td>{{ actualite.legende }}</td>
                <td>{{ actualite.image }}</td>
                <td>
                    <a href="{{ path('admin_actualites_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('admin_actualites_edit', {'id': actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_actualites_new') }}">Create new</a>
{% endblock %}
