{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/puzzle.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/js/puzzle.js') }}"></script>
{% endblock %}
{# width="600" height="600" width="405" height="500"#}

{% block body %}
    {# Mise en place du puzzle le xlink sert pour le referencement #}
    <div class="container">
            <svg  id="puzzle">
                <g id="fond">Picasso<image xlink:href="{{ asset('assets/images/picasso.png') }}"  x="400" y="200"></g>

                <g class="imgp" id="0"><image xlink:href="{{ asset('assets/images/piecesp.png') }}" class="movil"></g>
                <g class="imgp" id="1"><image xlink:href="{{ asset('assets/images/piecesp1.png') }}" class="movil"></g>
                <g class="imgp" id="2"><image xlink:href="{{ asset('assets/images/piecesp2.png') }}" class="movil"></g>
                <g class="imgp" id="3"><image xlink:href="{{ asset('assets/images/piecesp3.png') }}" class="movil"></g>
                <g class="imgp" id="4"><image xlink:href="{{ asset('assets/images/piecesp4.png') }}" class="movil"></g>
                <g class="imgp" id="5"><image xlink:href="{{ asset('assets/images/piecesp5.png') }}" class="movil"></g>
                <g class="imgp" id="6"><image xlink:href="{{ asset('assets/images/piecesp6.png') }}" class="movil"></g>
                <g class="imgp" id="7"><image xlink:href="{{ asset('assets/images/piecesp7.png') }}" class="movil"></g>
                <g class="imgp" id="8"><image xlink:href="{{ asset('assets/images/piecesp8.png') }}" class="movil"></g>

            </svg>
    </div>
    <div>

    </div>

{% endblock %}