<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Novart{% endblock %}</title>

    <!-- Lien pour îcones Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <!-- Lien css commun à tout le site -->
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />

    <!-- Lien css footer -->
    <link href="{{ asset('assets/css/footer.css') }}" rel="stylesheet" />

    <!-- Lien css Polices -->
    <link href="{{ asset('assets/css/polices.css') }}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}

  </head>

  <body>
    {{ include('menu.html.twig') }}

    <!-- Logo Novart à coder ici -->

    {% block body %}

    {% block footer %}{% endblock %}

    {% endblock %}

    {% block javascript %}{% endblock %}

    <!-- Lien Green Sock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

    <!-- Lien accueil.js -->
      <script src="{{ asset('assets/js/accueil.js') }}"></script>

      
  </body>

</html>
