<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Novart{% endblock %}</title>

    <!-- Lien pour îcones Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <!-- Lien css commun à tout le site -->
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />

    <!-- Lien css footer -->
    <link href="{{ asset('assets/css/footer.css') }}" rel="stylesheet" />

    <!-- Lien css Polices -->
    <link href="{{ asset('assets/css/polices.css') }}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}

  </head>

  <body>
    {{ include('menu.html.twig') }}

    <!-- Logo Novart à coder ici -->
    <div id="logoHeader">
      <img src="./assets/images/Logo-Novart2.png">
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}
      {{ include('footer.html.twig') }}
    {% endblock %}

    <!-- Lien Green Sock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

    <!-- Lien menu.js -->
    <script src="{{ asset('assets/js/menu.js') }}"></script>

    <script src="{{ asset('assets/js/mallettes.js') }}"></script>

    {% block javascript %}
    {% endblock %}

  </body>

</html>
