<nav>
    <a href="{{ path('app_login') }}"><i class="fas fa-user"></i>mon compte</a>
    <a href=""><i class="fas fa-shopping-bag"></i>panier</a>
</nav>
    
<a href="#" class="btn">
    <img src="{{ asset('assets/images/menu.svg') }}" alt="#" class="menuIcon">
</a>

<div class="conteneurMenu">

    <ul class="listeMenu">

        <a href="{{ path('accueil') }}">
            <li class="MenuListItem">Accueil</li>
        </a>

        <a href="{{ path('mallettes') }}">
            <li class="MenuListItem">Nos Mallettes</li>
        </a>

        <a href="{{ path('actualite') }}">
            <li class="MenuListItem">Actualités</li>
        </a>

        <a href="{{ path('glossaire') }}">
            <li class="MenuListItem">Glossaire</li>
        </a>

        <a href="{{ path('parents') }}">
            <li class="MenuListItem">Parents</li>
        </a>

        
        <a href="{{ path('app_login') }}">
            <li class="MenuListItem">Connexion</li>
        </a>

        <a href="{{ path('panier') }}">
            <li class="MenuListItem">Panier</li>
        </a>

        <a href="{{ path('contact_add') }}">
            <li class="MenuListItem">Contact</li>
        </a>
    </ul>
    
</div>