{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/inscription.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

   <div class="form">

      <h1>Formulaire d'inscription</h1>

      {{ form_start(formUser) }} 

         <div class="champLine">
            <div class="champs">
               {{ form_label(formUser.nom,'Votre nom')}}
               {{ form_widget(formUser.nom) }}
            </div>  

            <div class="champs">
               {{ form_label(formUser.prenom,'Votre prénom')}}
               {{ form_widget(formUser.prenom) }}
            </div>  
         </div>

         <div class="champs">
            {{ form_label(formUser.email,'Votre email')}}
            {{ form_widget(formUser.email) }}
         </div> 

         <div class="champs">
            {{ form_label(formUser.password,'Votre mot de passe')}}
            {{ form_widget(formUser.password) }}
         </div> 

         <div class="champs">
            {{form_label (formUser.voie,'Voie')}}
            {{ form_widget(formUser.voie) }}
         </div>

         <div class="champLine">
            <div class="champs">
               {{form_label (formUser.code_postal,'Code postal')}}
               {{ form_widget(formUser.code_postal) }}
            </div> 

            <div class="champs">
               {{form_label (formUser.ville,'Ville')}}
               {{ form_widget(formUser.ville) }}
            </div> 
         </div>
         
         <button type="submit" class="">Enregistrer</button>

      {{ form_end(formUser) }} 

      <div id="connexCompte">
         <span>Vous avez déjà un compte ?</span>
         <a href="">Connectez-vous</a>
      </div>

      <hr>

      <div id="">
         <a href="">Infos RGBD à ajouter</a>
      </div>

   </div>     

{% endblock %}